* {
  box-sizing: border-box;
  font-family: Helvetica;
}

h1 {
  font-size: 3em;
  border: 2px solid #000000;
  background-color: #AAAAAA;
  text-align: center;
  margin: 10px;
}

h2 {
  padding: 2px 5px 2px 5px;
  margin: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  font-size: 2em;
  float: right;
}

h3 {
  padding: 2px 5px 2px 5px;
  margin: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  font-size: 2em;
  text-align: center;
}

p {
  clear: right;
}

img {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  padding: 5px;
  float: left;
}

.content {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.grass {
  border-color: #00FF00;
  background-color: #90FF90;
}

.fire {
  border-color: #FF0000;
  background-color: #FF9090;
}

.water {
  border-color: #0000FF;
  background-color: #9090FF;
}

@media (min-width: 990px) {
.half {
  width: 50%;
}
.full {
  width: 100%;
}
}

@media (min-width: 993px) {
.container {
  width: 33.33%;
}
}
